# Project 1

# Project Description

This project is a website that shows the history of the best rally
race car to every live, the Mitsubishi Lancer Evolution. Take a deep
dive into each car to see the history of this legendary automobile.
The site is written in HTML/CSS/JS in Gatsby with a Contentful content
system backend and continuous integration with Netlify.

# Feature List

Styled Components
Version Controlled
Content System Backend
Continuous Integration

# Requirements
React
Gatsby
Contentful
Netlify
